/*pages*/
#pages{display: flex;transition: all 250ms;}
.page{align-items: center;display: flex;flex-direction: column;min-width: 100%;padding: 8px;}

/*pages*/

/* dialog metric*/
.formulaDefine section{margin: 16px;}
/* dialog metric*/

th{position: relative;}
th i.material-icons{position: absolute;right: 8px;display: inline-table;}

.colProperties{display: flex;flex-flow: row;justify-content: space-between; margin: 16px;align-items: center;}
.colProperties .properties{display: flex;align-items: center;}


.lists{position: relative;}
/*.absList{width: 250px;background: white;position: absolute;border-radius: 4px;z-index: 6;box-shadow: 0 4px 8px 0px #b5b5b5;}
.absList > ul{height: 500px;overflow-y: auto;}*/
i[open]{color: red;}

.step:first-child .stepLayout{grid-template-columns: 39% 59%; grid-column-gap: 2%; height: inherit;}
.step:nth-child(2) .stepLayout{grid-template-columns: 40% 29% 29%; grid-column-gap: 2%; height: inherit;}
.step:nth-child(3) .stepLayout{grid-template-columns: 29% 39% 29%; grid-column-gap: 3%; height: inherit;}
.step:last-child .stepLayout{grid-template-columns: 29% 39% 29%; grid-column-gap: 3%; height: inherit;}

.overflowList{height: 350px; overflow-y: auto; background: gainsboro;}
#fieldList-filter{padding: 0 16px;}
/* reportSection anteprima */
#reportSection{display: flex;flex-flow: row;width: 100%; padding: 16px;}
#reportSection section[table] {margin: 8px auto;width: 100%;}
#reportSection section[table] tr > th{border: solid thin lightgray;}
#reportSection table caption{border-top-left-radius: 4px;border-top-right-radius: 4px;}
#reportSection table thead{color: dimgrey;}
/* reportSection anteprima */

.formula{margin: 16px;}

.formulaDefine{display: grid;grid-template-columns: auto auto auto; grid-gap: 16px;}
.listContent{align-items: left;display: flex;min-height: 200px;flex-flow: column;}
dialog .miniList{max-height: 150px;overflow-y: auto;}
dialog .middleList{height: 220px;overflow-y: auto;}
.formulaContent {display: flex;}
div.textarea {border: solid thin gainsboro;height: 120px;padding: 8px;font-size: .8rem;width: 90%;}
div.textarea > span{padding: 4px;color: #494949;}
div.textarea > span.formulaOperator{background: #f9c4aa;border-radius: 4px;margin: 0 8px;}
div.textarea > span.formulaValues{border-bottom: solid thin gray;padding: 4px 16px;}
div.textarea > span.formulaLogicalOperator{background: brown; border-radius: 4px; color: white; margin: 0 8px;}
.logicalOperator{display: flex;justify-content: space-evenly;padding: 16px;}
.logicalOperator > span{padding: 4px 16px;}
.logicalOperator > span:hover{background: var(--main-secondary-color); border-radius: 4px;cursor: pointer;}

.list li:hover{background: var(--main-primary-color); border-radius: 4px; color: white;cursor: pointer;}

/* btn */
.steps .btn{display: flex; flex-direction: column;align-items: center;justify-content: center;}
.steps[data-step="1"] > .hr > .btn #stepPrevious{display: none;}
.steps[data-step="3"] > .hr > .btn #stepNext{display: none;}
.steps:not([data-step="3"]) > .hr > .btn #stepDone{display: none;}
.steps[data-step="3"] > .hr > .btn #stepDone{display: initial;}
/* btn */

/* element */
/*.element > li + i{visibility: hidden;}
.element:hover > li + i{visibility: visible;}*/
.element > li ~ span{visibility: hidden;}
.element:hover > li ~ span{visibility: visible;}
/* element */

/*ul*/
ul > section.fact{font-weight: bold;}

.wrapper{display: grid; grid-template-columns: 100%; height: inherit; position: relative; grid-template-rows: 1fr;}
.h-grid {display: grid; grid-gap: 16px; min-height: 100%; max-height: 100%;}
/*.step[data-step="1"] > .pageContent{width: 60%!important;}*/
.h-grid.col-1{grid-template-columns : 50%; justify-content: center;}
.h-grid.col-2{grid-template-columns : repeat(2, calc(40% - 8px)); justify-content: center;}
.h-grid.col-3{grid-template-columns : 34% repeat(2, calc(33% - 16px));}
.h-grid.col-4{grid-template-columns : 25% repeat(3, calc(25% - 16px));}

/*.step[data-step="1"] .h-grid{grid-template-columns : 25% calc(35% - 16px) calc(40% - 16px);}*/
.step[data-step="2"] .v-grid{grid-template-rows : 10% calc(90% - 16px); height: inherit; padding: 1em 8px 4px;}
.overflowList{height: 350px; overflow-y: auto; background: gainsboro;}
.full-overflow-list{height: 70%; overflow-y: auto; max-height: 300px;}
.full-overflow-list-columns{height: 350px; max-height: 350px; overflow-y: auto;}
/*.dialog-overflow-list{height: 300px; max-height: 300px; overflow-y: auto;}*/

/*.addElementsReport{display: grid;grid-template-columns: 34% repeat(2, calc(33% - 16px)); grid-column-gap: 16px; color: dimgrey; height: inherit;}*/
.btn-add > span{font-weight: bold;}
.columns .btn-add{color: var(--main-columns-color);}
.columns .material-icons-round:not([data-object-token],[data-info-object-token]) {color: var(--main-columns-color);}
.filters .btn-add{color: var(--main-filters-color);}
.filters .material-icons-round:not([data-object-token],[data-info-object-token]) {color: var(--main-filters-color);}
.metrics .btn-add {color: var(--main-metrics-color);}
.metrics .material-icons-round:not([data-object-token],[data-info-object-token]) {color: var(--main-metrics-color);}
.composite-metrics .material-icons-round:not([data-object-token],[data-info-object-token]) {color: var(--main-composite-metrics-color);}
.filters .btn-add, .metrics .btn-add, .composite-metrics .btn-add{
  display: grid;grid-template-rows: auto auto;justify-content: center; opacity: .5;align-items: center;justify-items: center;padding: 8px 1em; background-color: #dcdcdc61;
  border-radius: 0px;box-shadow: 0px 0px 0px 0px; transition: box-shadow 200ms, opacity 250ms, border-radius 150ms;}

section > .btn-add:hover{opacity: 1;border-radius: 4px;box-shadow: 0px 1px 8px -2px darkgrey;}
.btn-add{display: flex; flex-direction: column; align-items: center;}
#list-hierarchies > section li[data-hier-name]{font-weight: bold;}

.elementsReport{display: grid; grid-template-columns: 25% repeat(3, calc(25% - 16px)); grid-column-gap: 16px;}

ul > section[data-sublist], ul > section[data-sublist-generic]{border-left: solid 0px gainsboro; transition: border-left 150ms;}
ul > section[data-sublist]:hover, ul > section[data-sublist-generic]:hover{cursor: pointer; border-left: solid thick indianred; transition: border-left 150ms;}
ul > section[data-sublist][selected], ul > section[data-sublist-generic][selected]{border-left: solid thick indianred;}

.sublist{display: flex;}

span[cube] {color: dimgray; padding: .5em .2em;font-size: .75rem;font-weight: normal;}

.fact-table > section {color: var(--main-primary-color);font-weight: bold;}

#drawer-hierarchies, #drawer-cubes, #drawer-dimensions {display: grid; grid-template-rows: 95% 5%; z-index: 10; position: absolute; left: -260px; background: gainsboro; padding: 32px 4px 4px;height: 100%; opacity: .7; transition: transform 250ms;
  transform: translateX(0px); width: 260px;}
#drawer-hierarchies[data-open], #drawer-cubes[data-open], #drawer-dimensions[data-open]{transform: translateX(260px); z-index: 10; opacity: .9; background: gainsboro; border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
#drawer-hierarchies:not([data-open]) #btn-hierarchies-open-close{background: transparent;}
#drawer-cubes:not([data-open]) #btn-cubes-open-close{background: transparent;}
#drawer-dimensions:not([data-open]) #btn-dimensions-open-close{background: transparent;}
#btn-cubes-open-close{position: absolute; right: -28px; top: 160px; background-color: gainsboro; border-top-right-radius: 6px; border-bottom-right-radius: 6px;}
#btn-dimensions-open-close{position: absolute; right: -28px; top: 210px; background-color: gainsboro; border-top-right-radius: 6px; border-bottom-right-radius: 6px;}
#btn-hierarchies-open-close{position: absolute; right: -28px; top: 260px; background-color: gainsboro; border-top-right-radius: 6px; border-bottom-right-radius: 6px;}

button[data-object-token],
button[data-info-object-token]:hover {cursor: pointer;}

.absolute-window{
    position: absolute; background-color: indianred; width: 250px; height: 300px; visibility: hidden;
}
.absolute-window[data-open]{
    position: absolute; background-color: indianred; width: 250px; height: 300px;
    z-index: 200; left: var(--left); top: var(--top); visibility: visible;
}
.add-button{
  display: flex;
  flex-direction:column;
  align-items:center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: .5em;
  background: #ededed;
  opacity: .7;
  transition: opacity 150ms;
  box-shadow: 0px 1px 3px -1px black;
}
.add-button:hover{opacity: 1; cursor: pointer;}
