:root{
  --main-highlight-icons-color: sienna;
  --columns-color: steelblue;
  --metrics-color: darkgreen;
  --btn-remove-column-defined: whitesmoke;
  --danger-color: indianred;
  --warning-color: #c5791b;
  --done-color: seagreen;
  --filters-color: #f2d98d;
}

/* COLORS */
.material-symbols-rounded.white {
  color: white;
}

.material-symbols-rounded.error {
  color: var(--main-important-color);
}

.material-symbols-rounded.done {
  color: forestgreen;
}

/* SETTINGS */
.material-symbols-rounded.hidden {
  display: none;
}
