:root {
  --main-highlight-icons-color: sienna;
  --columns-color: steelblue;
  --metrics-color: darkgreen;
  --btn-remove-column-defined: whitesmoke;
  --danger-color: indianred;
  --warning-color: #c5791b;
  --done-color: seagreen;
  --filters-color: #f2d98d;
}

.material-symbols-rounded {
  padding: 2px 4px;
}

.material-symbols-rounded.padding__none {
  padding: unset;
}

/* COLORS */
.material-symbols-rounded.white {
  color: white;
}

.material-symbols-rounded.error,
.material-symbols-rounded.warn {
  color: var(--main-important-color);
}

.material-symbols-rounded.done {
  color: forestgreen;
}

.material-symbols-rounded.danger {
  color: var(--main-important-color);
}

/* SETTINGS */
.material-symbols-rounded.hidden {
  display: none;
}

/* DIMENSIONS */
.material-symbols-rounded.md-18 {
  font-size: 18px;
}
