.preview-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 1em;
  margin: 1em;
}

.layout-previews {
  background-color: #e2e2e2;
  width: 300px;
  height: 250px;

}

/* NOTE: esempio di media query per responsive layout */
@media screen and (min-width: 1024px) {
  .preview-area {
    /* grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2em), 1fr)); */
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: 250px;
    justify-content: center;
    grid-column-gap: 1em;
    position: relative;
  }
}

.thumb-layout[data-selected] {
  border: solid thin steelblue;
}

.layout-previews .col {
  display: grid;
}

.layout-previews > .grid {
  display: grid;
}

.layout-previews > .grid.rows-2 {
  grid-template-rows: 30% calc(70% - 6px);
  grid-row-gap: 6px;
  height: inherit;
}

.layout-previews .col.col-1 {
  grid-template-columns: 1fr;
  margin: 0px auto;
  width: 80%;
  height: 100%;
}

.layout-previews .col #filter_div {
  background: #b5b0b0;
  border-radius: 2px;
}

.layout-previews .col #chart_div {
  background: #b5b0b0;
  border-radius: 2px;
}
