#controls{position: absolute;bottom: 32px;left: 0;right: 0;display: flex;justify-content: center;
  padding: 0 32px;flex-direction: column;z-index: 1001;}

#fabs{display: flex;flex-grow: 1;max-width: 1025px;width: 100%;margin: 0 auto;}

#fabs button{margin: 0 16px;}

#previous-step, #next-step, #done{border-radius: 4px;/*font-family: 'Google Sans', Arial, sans-serif;*/font-size: 14px;
  font-weight: 600;letter-spacing: .6px;line-height: 24px;padding-bottom: 6px;padding-left: 24px;padding-right: 24px;padding-top: 6px;
  pointer-events: initial;text-transform: none;background: #FFFFFF;color: #1A73E8;transform: scale(1, 1);transition: transform 300ms ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  text-decoration: none;-webkit-font-smoothing: antialiased;}

#next-step{color: #fff;background: var(--main-secondary-color);}

#done{background: var(--main-secondary-color);}

#fabs .spacer, span.spacer{flex-grow: 1;}

@media screen and (color) and (max-device-width: 360px) {
  #controls{padding: 0 26px;}
}
