.preview-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 1em;
  margin: 1em;
}

.layout-previews {
  background-color: #e2e2e2;
  width: 300px;
  height: 250px;
}

.title {
  font-style: italic;
}

.thumb-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NOTE: esempio di media query per responsive layout */
@media screen and (min-width: 1024px) {
  .preview-area {
    /* grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2em), 1fr)); */
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: auto 1fr;
    justify-content: center;
    grid-column-gap: 1em;
    position: relative;
  }
}

.thumb-layout[data-selected] {
  border: solid thin steelblue;
}

.layout-previews .col {
  display: grid;
}

.layout-previews > .grid {
  display: grid;
}

.layout-previews > .grid.rows-2 {
  grid-template-rows: 20% calc(80% - 8px);
  grid-row-gap: 6px;
  height: inherit;
  padding: 6px;
}

.layout-previews .col.col-1 {
  grid-template-columns: 1fr;
  margin: 0px auto;
  width: 80%;
  height: 100%;
}

.layout-previews .col div {
  background: #c9c9c9;
  border-radius: 2px;
}
