.preview-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 1em;
  margin: 1em;
}

.thumbnails {
  background-color: #e2e2e2;
  width: 290px;
  height: 250px;
}

.dashboard {
  background-color: #e2e2e2;
  width: inherit;
  height: 550px;
}

.dashboard-preview {
  background-color: lightcoral;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.title {
  font-style: italic;
}

.thumb-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NOTE: esempio di media query per responsive layout */
@media screen and (min-width: 1024px) {
  .preview-area {
    /* grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2em), 1fr)); */
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: auto 1fr;
    justify-content: center;
    grid-column-gap: 1em;
    position: relative;
  }
}

.thumb-layout[data-selected] {
  border: solid thin steelblue;
}

.thumbnails .col, .dashboard .col {
  display: grid;
}

.thumbnails > .grid, .dashboard > .grid {
  display: grid;
}

.thumbnails > .grid.rows-2, .dashboard > .grid.rows-2 {
  grid-template-rows: 20% calc(80% - 8px);
  grid-row-gap: 6px;
  height: inherit;
  padding: 6px;
}

.thumbnails .col.col-1, .dashboard .col.col-1 {
  grid-template-columns: 100%;
  margin: 0px auto;
  width: 80%;
  height: 100%;
}

.thumbnails .col div, .dashboard .col div {
  background: #c9c9c9;
  border-radius: 2px;
  padding: 4px;
}
