.account {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--main-important-color);
	color: var(--main-bg-color);
}

hr {
	width: 70%;
	border-top: solid thin;
	border-bottom: none;
}

nav>.navOverflow {
	overflow-y: auto;
	position: relative;
	height: 100%;
}

nav>.navOverflow>.navContent {
	position: absolute;
	width: 100%;
}

nav a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
	padding: 12px 8px;
}

nav>button {
	display: flex;
	width: 100%;
	padding: 12px 8px;
	align-items: center;
}

nav>button>a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
}

nav a:not([disabled]):hover,
nav>button:not([disabled]):hover {
	cursor: pointer;
	/* color: var(--main-secondary-color); */
	font-weight: bold;
}

nav a>span,
nav>button>a>span {
	padding: 0 8px;
}

nav a[selected] {
	font-weight: bold;
}

/* #drawer:not([open])>nav>a>span,
#drawer:not([open]) .account>h5 {
  display: none;
} */

#drawer:not([open])>nav a>span {
	display: none;
}

#drawer:not([open])>nav hr {
	margin: .5em .5em;
}


@media screen and (min-device-width: 361px) and (max-device-width: 768px) {
	#drawer {
		/* width: 256px; */
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		/*z-index: 1001;*/
		z-index: 1002;
		will-change: transform;
		box-shadow: 2px 2px 4px transparent;
		pointer-events: none;
		transform: translate3d(-100%, 0, 0);
		transition: transform ease-in-out 0.3s, box-shadow 0.3s;
	}

	#drawer[open] {
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
		transform: translate3d(0, 0, 0);
		pointer-events: all;
		z-index: 1002;
	}
}

@media screen and (max-device-width: 360px) {
	#drawer {
		width: 226px;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		/*z-index: 1001;*/
		z-index: 1002;
		will-change: transform;
		box-shadow: 2px 2px 4px transparent;
		pointer-events: none;
		transform: translate3d(-100%, 0, 0);
		transition: transform ease-in-out 0.3s, box-shadow 0.3s;
	}

	#drawer[open] {
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
		transform: translate3d(0, 0, 0);
		pointer-events: all;
		z-index: 1002;
	}

	nav {
		font-size: .8rem;
	}
}

@media screen and (min-device-width: 769px) {
	/* #drawer[open] { */
	/*   width: 280px; */
	/* } */

	/* #drawer:not([open]) { */
	/*   width: 40px; */
	/* } */

	#drawer[open] {
		background: #494949;
		grid-column: 1 / 2;
		transition: width 150ms;
		width: 260px;
		z-index: 100;
		display: flex;
		flex-direction: column;
	}


	#drawer[open] {
		background: #494949;
		grid-column: 1 / 2;
		transition: width 150ms;
		width: 260px;
		z-index: 100;
		display: grid;
		grid-template-rows: auto 1fr;
		/* account / menu */
	}

	#drawer:not([open]) {
		grid-column: 1 / 2;
		transition: width 150ms;
		width: 64px;
		z-index: 100;
		display: grid;
		grid-template-rows: auto 1fr;
		/* account / menu */
	}

	#drawer:not([open]) h5[data-uid] {
		display: none;
	}

	/* #drawer[open]>nav {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  } */

	/* #drawer:not([open])>nav {
    display: flex;
    flex-flow: column;
    align-items: center;
  } */
	#drawer[open]>nav {
		display: grid;
		grid-template-rows: auto auto 1fr auto auto;
	}

	#drawer:not([open])>nav {
		display: grid;
		grid-template-rows: auto auto 1fr auto auto;
	}

}
