#filter_div {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  background-color: white;
  margin: 1em 0em 2em;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px grey;
}

.gradient {
  background-image: none !important;
}

.google-visualization-table-table th {
  padding: 12px!important;
}

.g-table-header {
  background-color: steelblue;
  white-space: nowrap;
}

th.frozen-column {
  background-color: steelblue;
}

td.frozen-column {
  background-color: white;
}

td.align-right {
  text-align: right;
}

/* .g-table-row { */
/*   color: #494949; */
/* } */

.g-header-cell{
  color: white;
  border: none!important;
  font-size: 11px;
  text-transform: uppercase;
}

.g-table-cell {
  color: #494949;
  padding: 8px 12px!important;
  white-space: nowrap;
  border: none!important;
}

.google-visualization-table-type-number.g-table-cell {
  text-align: right;
  font-weight: bold;
  /* background-color: lightblue; */
}

.google-visualization-table-type-date {
  text-align: right;
}

.g-category-filter {
  color: #494949;
  display: flex;
  align-items: center;
  margin: 8px;
}

.g-category-filter ul {
  padding-inline-start: 4px;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin: 0px 1em;
}

.g-category-filter li {
  background-color: lightblue;
  padding: 6px;
  margin: 0px 4px;
}

.g-category-filter li div {
  margin: 0px 8px;
}

.goog-inline-block {
  vertical-align: middle;
}

.goog-combobox {
  padding: 8px;
  background: beige!important;
  border: unset!important;
}

.goog-combobox input.label-input-label {
  background: none!important;
  box-shadow: none;
  border: unset;
}

.chart-elements {
  box-shadow: 0px 0px 5px 0px grey;
  position: relative;
  width: 100%;
  height: 100%;
}

.chart-elements > button {
  width: inherit;
  height: inherit;
  position: absolute;
}

.google-visualization-table-div-page{
  background: indianred!important;
  height: 35px;
}

.google-visualization-table-div-page [role="button"]{
  padding: 6px;
  height: 30px;
}

.google-visualization-table-page-numbers {
  padding: 6px;
}
.google-visualization-table {
  user-select: none;
}
