#nodata {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#nodata[hidden] {
  display: none;
}

#nodata>p {
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 2em;
  text-align: center;
}

span.highlighted {
  padding: 1px 6px;
  background-color: var(--main-secondary-color);
  border-radius: 4px;
  color: white;
  font-weight: 400;
}

.inner {
  padding: 24px;
  line-height: 24px;
}

.scene {
  width: 100%;
  height: 400px;
}

.scene.multi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  width: 100%;
}

@media screen and (min-device-width: 769px) {
  #drawer {
    width: 340px;
  }

  /* nascondo il tasto menu che è già aperto */
  .nav-button #menu {
    display: none;
  }

  h4 {
    font-size: 1.7rem;
  }

  .scene>img {
    float: left;
    margin-top: 2em;
    margin-bottom: 2em;
    transition: all 500ms;
    opacity: .8;
    transform: perspective(283px) rotateY(17deg) scale(.8);
    box-shadow: 0 3px 7px 0;
  }

  .scene>img:hover,
  div.overflow>img:hover {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
  }

  .scene p {
    float: right;
    width: 50%;
    font-size: .8rem;
  }

  div.overflow {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  div.overflow>img {
    transform: perspective(282px) rotateY(7deg) scale(.8);
    box-shadow: 0 3px 7px 0;
    margin-left: 12px;
    margin-right: -63px;
    transition: all 500ms;
    opacity: .7;
  }

  p {
    font-size: .8rem;
  }
}

@media screen and (max-device-width: 768px) {
  main {
    display: block;
    position: relative;
  }

  main>#container {
    height: 100%;
  }

  .nav-button #menu {
    display: flex;
  }

  .nav-button #arrow-back {
    display: none;
  }

  h4 {
    font-size: 1.6rem;
  }

  p {
    font-size: .8rem;
  }

  .scene>img {
    float: left;
    margin-top: 2em;
    margin-bottom: 2em;
    transform: perspective(282px) rotateY(7deg);
    box-shadow: 0 3px 7px 0;
  }

  /* .scene.multi > img{margin-left: -32px;margin-right: -32px;} */
  .scene p {
    float: right;
    width: 40%;
    font-size: .8rem;
  }

  p {
    font-size: .9rem;
  }

  .scene.multi>div.overflow {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    margin-left: .5em;
    margin-right: .5em;
    align-items: center;
    height: 100%;
  }

  div.overflow>img {
    transform: perspective(282px) rotateY(7deg) scale(.8);
    opacity: .8;
    box-shadow: 0 3px 7px 0;
    margin-left: 6px;
    margin-right: -68px;
    transition: all 350ms;
  }

  div.overflow>img:hover {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
  }
}


@media screen and (max-device-width: 360px) {
  main {
    display: block;
    padding-top: 56px;
    position: relative;
  }

  header {
    height: 56px;
    padding: 0 24px 0 8px
  }

  header h1 {
    font-size: 1.1rem;
  }

  nav {
    font-size: .8rem;
  }

  #content #body {
    font-size: .75rem;
  }

  #body>footer {
    font-size: .75rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  #controls {
    bottom: 32px;
    padding: 0 16px;
  }

  .scene p {
    float: right;
    width: 35%;
    font-size: .75rem;
  }

  .scene.multi>img {
    margin-left: -40px;
    margin-right: -40px;
  }

  p {
    font-size: .75rem;
  }

}

#content.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 4px;
  height: 5px;
}

#content.custom-scrollbar::-webkit-scrollbar-thumb {
  display: block;
  background-color: #5f6162c7;
  border-radius: 2px;
}

#content.custom-scrollbar::-webkit-scrollbar-track {
  display: block;
  background-color: gainsboro;
}
