:root{
  --main-filters-color: darkolivegreen;
  --main-metrics-color: darkgoldenrod;
}

ul{margin-inline: 0px;padding-inline: 0px;}
.list{color: #494949;}
.h-content{display: flex; align-items: center; padding-right: 1em;}
.v-content{margin: 4px 2px;}
.v-content{display: flex;flex-flow: column;width: 100%;}
span.highlight{color: sienna;}
.filters-color span.highlight{color: var(--main-filters-color);}
.metrics-color span.highlight{color: var(--main-metrics-color);}
.no-highlight{color: dimgray}
.selectable{margin: 0px 4px; padding: 2px 4px;}
.card ul > section .selectable{margin: 0px 4px; padding-top: 0px;}
.unselectable{margin: 4px; padding: 2px 4px;}
.selectable > .smalls{display: flex;flex-flow: column;}
/*list all'interno delle card*/
.card ul > section{margin: 0px 6px;}

/* visualizzazione delle icone sui field impostati come : colonne, gerarchie, metriche */
section[data-sublist-fields] > .selectable i{visibility: hidden;}
section[data-sublist-fields] > .selectable[columns] i[data-id="column-icon"]{color: #9a6a6a; visibility: visible;}
section[data-sublist-fields] > .selectable[data-relation] i[data-id="hierarchy-icon"]{color: grey; visibility: visible;}
section[data-sublist-fields] > .selectable[data-relation][data-relation-id="true"] i[data-id="hierarchy-icon"]{color: #99b19c; visibility: visible;}
section[data-sublist-fields] > .selectable[metrics] i[data-id="metric-icon"]{color: #587850; visibility: visible;}

/*visualizzo icona su hover section*/
section[data-sublist-columns] i{visibility: hidden;}
section[data-sublist-columns]:hover i{visibility: visible;}

section[data-sublist-filters] i{visibility: hidden;}
section[data-sublist-filters]:hover i{visibility: visible;}

section[data-sublist-metrics] i{visibility: hidden;}
section[data-sublist-metrics]:hover i{visibility: visible;}

section[data-sublist-composite-metrics] i{visibility: hidden;}
section[data-sublist-composite-metrics]:hover i{visibility: visible;}

/*dialog lists*/
.dialog-overflow-list{height: 300px; max-height: 300px; overflow-y: auto;}

@media screen and (max-height: 768px) {
	.absList[hidden]{ height: 90%; left: -100%; width: 25%;background: white;position: absolute;}
	.absList:not([hidden]){
		display: grid;
		grid-template-rows: auto 1fr;
		height: 90%;
		width: 40%;
		align-self: center;
		left: 2px;
		background: white;
		position: absolute;
		opacity: .9;
		border-radius: 4px;
		z-index: 1500;
		box-shadow: 0 4px 8px 0px #b5b5b5;
		animation: openList 350ms ease-in-out;
	}
	.absList.large-list{width: 35%;}
	/*.absList.large{width: 30%; background: white; position: absolute; opacity: .9; border-radius: 4px; z-index: 1500; box-shadow: 0 4px 8px 0px #b5b5b5;}*/
	/*.absList > ul{ height: 500px;overflow-y: auto;padding-inline-end: 1em;}*/
	.absList[fact]{width: 25%; background: white; position: absolute; border-radius: 4px; z-index: 1500; box-shadow: 0 4px 8px 0px #b5b5b5; color: var(--primary-color);}
	
	/*absolute list*/
}

@media screen and (min-height: 769px) {
	/*absolute list*/
	.absList[hidden]{ height: 90%; left: -100%; width: 25%;background: white;position: absolute;}
	.absList:not([hidden]){
		display: grid;
		grid-template-rows: auto 1fr;
		height: 90%;
		width: 25%;
		align-self: center;
		left: 2px;
		background: white;
		position: absolute;
		opacity: .9;
		border-radius: 4px;
		z-index: 1500;
		box-shadow: 0 4px 8px 0px #b5b5b5;
		animation: openList 350ms ease-in-out;
	}
	.absList.large-list{width: 35%;}
	/*.absList.large{width: 30%; background: white; position: absolute; opacity: .9; border-radius: 4px; z-index: 1500; box-shadow: 0 4px 8px 0px #b5b5b5;}*/
	/*.absList > ul{ height: 500px;overflow-y: auto;padding-inline-end: 1em;}*/
	.absList[fact]{width: 25%; background: white; position: absolute; border-radius: 4px; z-index: 1500; box-shadow: 0 4px 8px 0px #b5b5b5; color: var(--primary-color);}
	
	/*absolute list*/
}

@keyframes openList {
	0% {left: -100%;}
	25% {left: -50%;}
	50% {left: -25%;}
	75% {left: 15px;}
	100% {left: 2px;}
}

/*hover selected elements*/
.data-item{position: relative;}
.selectable{transition: padding-left 150ms; padding-left: 4px;}
.selectable:hover{cursor: pointer;transition: padding-left 200ms; padding-left: 8px;}
*[draggable].selectable:hover{cursor: grab; transition: padding-left 200ms; padding-left: 8px; font-weight: bold;}
.selectable::before{background-color : sienna;}
.selectable:hover::before{content: '';width: 8px;height: 20px;position: absolute;border-radius: 3px;opacity: .7;top: calc(50% - 10px);left: -4px;animation: hoverSelected 200ms ease;}
.selectable[data-selected]::before{content: '';width: 8px;height: 20px;position: absolute;border-radius: 3px;opacity: 1;top: calc(50% - 10px);left: -4px;animation: hoverSelected 200ms ease;}
.selectable.filters-color::before{background-color : var(--main-filters-color);}
.selectable.metrics-color::before{background-color : var(--main-metrics-color);}

/* lista all'interno della card*/
.card.table[data-mode='columns'] ul > section[data-sublist-fields] > .selectable::before{background-color: #9a6a6a;}
.card.table[data-mode='relations'] ul > section[data-sublist-fields] > .selectable::before{background-color: #99b19c;}
.card.table[data-mode='metrics'] ul > section[data-sublist-fields] > .selectable::before{background-color: #587850;}

@keyframes hoverSelected {
	0% {transform: scale(.2);}
	75% {transform: scale(1.10);}
	100% {transform: scale(1);}
}

/*lista nelle dialog*/
ul[data-object]{position: absolute; overflow: auto; width: 100%; height: calc(100% - 24px); margin-block-start: 12px; margin-block-end: 12px; padding-inline-start: 1em; padding-inline-end: 1em;}

.parent-ul{display: grid; grid-template-rows: auto auto 1fr;height: 100%;}
.parent-ul-base{display: grid; grid-template-rows: auto 1fr;height: 100%;}
.parent-ul-hierarchies{display: grid; grid-template-rows: 1fr;}
.parent-ul-hierarchies-fact{display: grid; grid-template-rows: 1fr;}
.parent-ul-columns{display: grid; grid-template-rows: auto 1fr;}
.parent-ul-filters, .parent-ul-metrics{display: grid; grid-template-rows: auto auto 1fr auto;}
.parent-ul-tables{display: grid; grid-template-rows: auto auto auto 1fr;}
.parent-ul-fields{display: grid; grid-template-rows: auto auto auto 1fr;}
.relative-ul{position: relative; display: flex;flex-direction: column;}
ul.absolute{position: absolute; height: calc(100% - 24px); overflow: auto; width: 100%;}

small[data-include-query]{color: brown;}