:root{
  --main-columns-color: #875f43;
  --main-filters-color: #5b6a3f;
  --main-metrics-color: #89691b;
  --main-composite-metrics-color: #6e2f10;
}

ul{
  padding-block-start: 0em;
  padding-inline-start: .5em;
  padding-inline-end: .5em;
  margin-block-start: unset;
  padding-block-end: 0em;
  margin-block-end: unset;
  background-color: white;
}

dl{
  background-color: transparent;
}

dt{
  margin: 8px 0px;
}

dd{
  margin-inline-start: 2em;
}

li{
  list-style: none;
  padding-left: 0px;
  line-height: 1.7rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: padding 150ms;
  align-items: center;
}

li:hover {
  cursor: pointer;
  color: steelblue;
  padding-left: 2px;
}

li:hover > i {
  color: steelblue;
}

li[data-li-drag] {
  justify-content: start;
}

li[hidden] {display: none !important;}

section.data-item{position: relative;}

nav > li{
  line-height: 3rem;
}

li.icon > span{
  margin-left: .5rem;
}

.relative-ul {
  position: relative;
}

.relative-ul > ul, .relative-ul > dl {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-inline-start: 6px;
  padding-block-start: 6px;
  padding-block-end: 6px;
}

.relative-ul > nav {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.btn-toggle {
  position: absolute;
  right: -28px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.list-search{
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;
  grid-row-gap: .5em;
}

.list-search.absolute{
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;
  grid-row-gap: .5em;
  /* position: absolute; */
  /* bottom: 0px;
  width: 100%;
  height: 60%; */
  border: solid thin grey;
  background-color: white;
}

nav[data-filters-defined] > li[data-selected] {
  background-color: chocolate;
  color: white;
}

.custom-scrollbar {
  overflow: auto;
}

dd {
  font-size: smaller;
}

dt[selected] {
  font-weight: bold;
}

*[data-id="value-icons"] > div {
  display: flex;
  align-items: center;

}

.text-ellipsis {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sub-elements{
  color: gray;
}

ul.context-menu-items {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}
