:root{
  --main-columns-color: #875f43;
  --main-filters-color: #5b6a3f;
  --main-metrics-color: #89691b;
  --main-composite-metrics-color: #6e2f10;
}

ul{
  padding-block-start: 0em;
  padding-inline-start: .5em;
  padding-inline-end: .5em;
  margin-block-start: unset;
  padding-block-end: 0em;
  margin-block-end: unset;
}

li{
  list-style: none;
  line-height: 1.7rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* margin: 0px 1em; */
  align-items: center;
  /* padding: 0px 1rem; */
  /* border-top: solid thin gainsboro; */
  /* border-bottom: solid thin gainsboro; */
}

li[data-li-drag] {
  justify-content: start;
}

li[hidden] {display: none !important;}

/* ul > li:hover{
  cursor: pointer;
  background-color: salmon;
} */

section.data-item{position: relative;}

nav > li{
  line-height: 3rem;
}

li.icon > span{
  margin-left: .5rem;
}

li:hover{
  cursor: pointer;
  background-color: gainsboro;
}

li[draggable].dragging{
  border: solid thin gray;
  border-radius: 2px;
  width: 140px;
}

ul li[data-selected]::before {
  content: '';
  background: sienna;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0px;
}

ul li:hover::before{
  content: '';
  background: sienna;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0px;
}

.relative-ul {
  position: relative;
}

.relative-ul > ul {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  overflow: auto;
  padding-inline-start: 6px;
  padding-block-start: 6px;
  padding-block-end: 6px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px -1px #898585;
}

.relative-ul > ul:hover{
  background-color: white;
}

.btn-toggle {
  position: absolute;
  right: -28px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.list-search{
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;
  grid-row-gap: .5em;
}

.list-search.absolute{
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;
  grid-row-gap: .5em;
  /* position: absolute; */
  /* bottom: 0px;
  width: 100%;
  height: 60%; */
  border: solid thin grey;
  background-color: white;
}

nav[data-filters-defined] > li[data-selected] {
  background-color: chocolate;
  color: white;
}

ul.custom-scrollbar {
  overflow: auto;
}

.overflow-y {
  overflow-y: auto;
}

dd {
  font-size: smaller;
}

dt[selected] {
  background-color: orange;
  color: #494949;
}

*[data-id="value-icons"] > div {
  display: flex;
  align-items: center;

}

.text-ellipsis {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sub-elements{
  color: gray;
}
