ul{margin-inline: 0px;padding-inline: 0px;}
.list{color: #494949;}
.h-content{display: flex; align-items: center;}
section[data-sublist-gen] .v-content{margin: 4px 2px;}
.v-content{display: flex;flex-flow: column;width: 100%;}
span.highlight{color: sienna;}
span.highlight.filters-color{color: olive;}
span.highlight.metrics-color{color: darkgoldenrod;}
.no-highlight{color: dimgray}
.selectable{border-left: solid 0px sienna; transition: border-left 100ms; margin: 4px; padding: 2px 4px;}
.unselectable{margin: 4px; padding: 2px 4px;}
.selectable:hover{cursor: pointer; border-left: solid 4px darkorange; transition: border-left 100ms;}
.selectable[data-selected]{cursor: pointer; border-left: solid thick sienna; transition: border-left 100ms;}

/* modifico il colore del bordo degli elementi selezionati quando sono impostate le 'mode' sulla card */
.cardTable[mode='columns'] ul > section[data-sublist-fields] > .selectable:hover{border-left: solid 4px #9a6a6a;}
.cardTable[mode='relations'] ul > section[data-sublist-fields] > .selectable:hover{border-left: solid 4px #99b19c;}
.cardTable[mode='metrics'] ul > section[data-sublist-fields] > .selectable:hover{border-left: solid 4px #587850;}
/* visualizzazione delle icone sui field impostati come : colonne, gerarchie, metriche */
section[data-sublist-fields] > .selectable i{visibility: hidden;}
section[data-sublist-fields] > .selectable[columns] i[data-id="column-icon"]{color: #9a6a6a; visibility: visible;}
section[data-sublist-fields] > .selectable[relations] i[data-id="hierarchy-icon"]{color: grey; visibility: visible;}
section[data-sublist-fields] > .selectable[relations][data-relation-id="true"] i[data-id="hierarchy-icon"]{color: #99b19c; visibility: visible;}
section[data-sublist-fields] > .selectable[metrics] i[data-id="metric-icon"]{color: #587850; visibility: visible;}

/*visualizzo icona su hover section*/
section[data-sublist-columns] i{visibility: hidden;}
section[data-sublist-columns]:hover i{visibility: visible;}

section[data-sublist-filters] i{visibility: hidden;}
section[data-sublist-filters]:hover i{visibility: visible;}

section[data-sublist-metrics] i{visibility: hidden;}
section[data-sublist-metrics]:hover i{visibility: visible;}

section[data-sublist-composite-metrics] i{visibility: hidden;}
section[data-sublist-composite-metrics]:hover i{visibility: visible;}

/*dialog lists*/
.dialog-overflow-list{height: 300px; max-height: 300px; overflow-y: auto;}

@media screen and (max-height: 768px) {
	.absList{width: 250px;background: white;position: absolute;border-radius: 4px;z-index: 6;box-shadow: 0 4px 8px 0px #b5b5b5;}
	.absList.large{width: 30%; background: white; position: absolute; border-radius: 4px; z-index: 6; box-shadow: 0 4px 8px 0px #b5b5b5;}
	.absList > ul{height: 300px;overflow-y: auto;}
}

@media screen and (min-height: 769px) {
	/*absolute list*/
	.absList{width: 250px;background: white;position: absolute;border-radius: 4px;z-index: 6;box-shadow: 0 4px 8px 0px #b5b5b5;}
	.absList.large{width: 30%; background: white; position: absolute; border-radius: 4px; z-index: 6; box-shadow: 0 4px 8px 0px #b5b5b5;}
	.absList > ul{height: 500px;overflow-y: auto;}
	/*absolute list*/
}

/*test*/
.data-item{position: relative;}
.data-item:hover::before{
	content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    background-color: indianred;
    top: calc(50% - 8px);
    left: -5px;
}