@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp&display=swap");
* {box-sizing: border-box; font-family: 'Barlow'; font-size: .9rem;}

.material-icons-round.md-18{
  font-size: 18px;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  transition: padding 350ms;
}

main > #container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  background: var(--main-bg-color);
}

#content{
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* padding-top: 32px; */
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--main-bg-color);
  transition: all 500ms;
}

#content > #body{
  font-size: .9rem;
  margin: 0 auto;
  margin-bottom: 64px;
  color: #3f3f40;
  padding: 1em 1em 0em;
  height: calc(100% - 64px);
}

.wrapper{
  display: grid;
  /* grid-template-rows: 2fr 0.75fr; */
  grid-template-rows: 65% 35%;
  background-color: white;
  height: 100%;
}

#canvas-area{
  width: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-auto-flow: row;
  align-items: start;
  border-bottom: solid thick gainsboro;
  /* background-color: gainsboro; */
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: #3b629540; */
  border: solid thin transparent;
  z-index: 1;
}

svg.dropzone.dropping{
  border: solid thin orangered;
  z-index: 3
}

.translate{
  height: 100%;
  /* background-color: navajowhite; */
  display: grid;
  grid-template-rows: 100%;
  /* grid-template-rows: repeat(auto-fit, 108px); */
  grid-auto-flow: row;
  transition: transform 100ms;
  position: relative;
}

ul{
  width: 250px;
}

.card-area{
  width: 100%;
  height: 100px;
  /* background-color: lime; */
  padding: 1em;
  /* position: absolute; */
  display: flex;
  left: 0px;
  top: 0px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  transition: top 1s;
}

.card-area[data-transform] {
  transform: translateY(50px);
}

path{
  fill: transparent;
  stroke: darkgray;
  /* stroke-width: 3.5; */
  stroke-width: 4;
  stroke-linecap: round;
}

path:hover{
  cursor: pointer;
  fill: transparent;
  stroke: brown;
  stroke-width: 4;
  stroke-linecap: round;
}

.struct > rect {
  /* fill: lightblue; */
  rx : 2.5;
  width: 170px;
  height: 30px;
  stroke: #494949;
  stroke-width: 0.2;
}

.struct > text {
  fill: #494949;
  font-weight: normal;
}

use.table{
  fill: #dcdcdca1;
  font-weight: normal;
}

use.table:hover{
  cursor: pointer;
  fill: #d9d7d7;
  stroke: #494949;
  stroke-width: 0.3;
}

#coords{
  position: absolute;
  background-color: #494949;
  color: white;
  bottom: 0px;
}


#window-join[data-open="false"]{
  position: absolute;
  display: none;
}

#window-join[data-open="true"]{
  display: grid;
  background-color: gainsboro;
  z-index: 300;
  /* padding: 2em 1em; */
  box-shadow: 0px 2px 5px 0px grey;
  position: absolute;
  top: 200px;
  left: 350px;
  width: 600px;
  height: auto;
}

.wj-content{
  display: grid;
  grid-template-rows: auto 1fr auto 210px;
  grid-row-gap: 1em;
  height: 100%;
}

.wj-title > p{
  margin: 0px;
  padding: 1em;
}

.wj-title > p.title{
  background-color: #AEBDCA;
}

.wj-title > p.title:hover{
  background-color: #7895B2;
  color: white;
  cursor: grab;
}

.wj-title > button{
  position: absolute;
  right: 0px;
  top: 0px;
}


.wj-joins, .wj-fields-list{
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.wj-joins > section{
  display: grid;
  grid-template-rows: auto;
  width: 45%;
  position: relative;
}

.wj-fields-list > section{
  display: grid;
  grid-template-rows: 200px;
  width: 45%;
  position: relative;
}

.wj-fields-list .list-search{
  background-color: white;
}

.join-field {
  background-color: white;
  padding: .5em;
  margin: .5em;
}

.join-field[data-active] {
  background-color: lightslategray;
  border: solid thin lightgray;
  color: white;
}

.join-field:hover{cursor: pointer;}

section[data-table-from] .table, section[data-table-to] .table{
  padding: .5em;
}
