@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp&display=swap");

.material-icons-round.md-18{
  font-size: 18px;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  transition: padding 350ms;
}

main > #container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  background: var(--main-bg-color);
}

#content{
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* padding-top: 32px; */
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--main-bg-color);
  transition: all 500ms;
}

.wrapper-step{
  display: grid;
  grid-template-rows: auto 60% 1fr;
  background-color: white;
  height: 100%;
  width: 100%;
}

.steps > .actions{
  display: flex;
  justify-content: space-between;
  width: inherit;
  padding: 1em;
}

.wrapper{
  display: grid;
  grid-template-columns: 100%;
  height: 100%;
  position: relative;
  grid-template-rows: 1fr;
}

#canvas-area{
  width: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  align-items: start;
  border-bottom: solid thick gainsboro;
  /* background-color: gainsboro; */
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  user-select: none;
  /* background-color: #3b629540; */
  border: dashed thin lightgray;
  z-index: 1;
}

svg.dropzone.dropping{
  border: dashed thin grey;
  z-index: 3
}

.translate{
  height: 100%;
  /* background-color: navajowhite; */
  display: grid;
  grid-template-rows: 100%;
  /* grid-template-rows: repeat(auto-fit, 108px); */
  grid-auto-flow: row;
  transition: transform 100ms;
  position: relative;
}

.card-area{
  width: 100%;
  height: 100px;
  /* background-color: lime; */
  padding: 1em;
  /* position: absolute; */
  display: flex;
  left: 0px;
  top: 0px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  transition: top 1s;
}

.card-area[data-transform] {
  transform: translateY(50px);
}

path{
  fill: transparent;
  stroke: darkgray;
  stroke-width: 2;
  stroke-linecap: round;
}

path[data-join-id]{
  fill: transparent;
  stroke: steelblue;
  stroke-width: 2;
  stroke-linecap: round;
}

path:hover{
  cursor: pointer;
  fill: transparent;
  stroke: brown;
  stroke-width: 2;
  stroke-linecap: round;
}

.struct > rect {
  /* fill: lightblue; */
  rx : 2.5;
  /* fill: #dcdcdca1; */
  width: 170px;
  height: 30px;
  stroke: #494949;
  stroke-width: 0.2;
}

.struct > text {
  fill: #494949;
  font-weight: normal;
}

.struct > image[data-columns-defined="false"] {
  visibility: hidden;
}

.struct > image[data-columns-defined="true"] {
  visibility: visible;
}

use.table{
  fill: #f1f1f1;
  font-weight: normal;
}

use.table:hover{
  cursor: pointer;
  fill: #e2e2e2;
  stroke: #494949;
  stroke-width: 0.3;
}

use.table[data-active]{
  fill: lightblue;
  stroke: #494949;
  stroke-width: 0.3;
}

#coords{
  position: absolute;
  background-color: #494949;
  color: white;
  bottom: 0px;
}

#window-columns[data-open="true"]{
  display: grid;
  background-color: gainsboro;
  z-index: 300;
  box-shadow: 0px 2px 5px 0px grey;
  position: absolute;
  top: 200px;
  left: 350px;
  width: 600px;
  height: auto;
}

.name{
  font-weight: bold;
  color: brown;
}

.wj-content{
  display: grid;
  grid-template-rows: auto 1fr auto 210px;
  grid-row-gap: 1em;
  height: 100%;
}

.w-title > p{
  margin: 0px;
  padding: 1em;
}

.w-title > p.title{
  background-color: #AEBDCA;
}

.w-title > p.title:hover{
  background-color: #7895B2;
  color: white;
  cursor: grab;
}

.w-title > button{
  position: absolute;
  right: 0px;
  top: 0px;
}


.wj-joins, .wj-fields-list{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px;
}

.wj-joins > section{
  display: grid;
  grid-template-rows: auto;
  width: 45%;
  position: relative;
}

.wj-fields-list > section{
  padding: .5em;
}

.wj-fields-list .list-search{
  height: 100%;
}

.join-field {
  background-color: white;
  padding: .5em;
  margin: .5em;
}

.join-field[data-active] {
  border-bottom: solid 3px steelblue;
}

.join-field:not([data-active]) {
  color: darkgray;
}

.join-field:hover{cursor: pointer;}

.wc-content{
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 1em;
  height: 100%;
}

.wc-content .define-fields{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
}

section[data-table-from] .table, section[data-table-to] .table{
  padding: .5em;
  font-weight: bold;
}

.wrapper-sheet{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.5fr 4fr;
  grid-column-gap: .5rem;
  width: 100%;
  height: 100%;
  padding: .5em;
}

.report-area{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
}

.report-area .columns-rows{
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: .5em;
}

.sheet-elements .dropzone{
  border: solid thin lightgrey;
  /* overflow: auto; */
  display: flex;
  column-gap: 1em;
  row-gap: .5em;
  flex-wrap: wrap;
  width: 100%;
  transition: height 500ms;
  align-items: center;
  padding: 8px;
}

.sheet-elements .dropzone.dropping{
  border: solid thin darkgreen;
}

.report-area .columns-rows > section{
  display: grid;
  grid-template-columns: 80px 1fr;
}

.dropzone.columns .columns-area{
  display: flex;
  flex-flow: wrap;
}

.column-defined, .metric-defined{
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px 8px;
  border-radius: 2px;
  width: auto;
}

.column-defined[data-type="column"]{
  background-color: #025E73;
}

.column-defined[data-type="column"] > i{
  color: whitesmoke;
}

.column-defined[data-type="metric"]{
  background-color: seagreen;
}

.metric-defined{
  background-color: seagreen;
  color: whitesmoke;
}

.metric-defined[data-type="basic"] {

}

.metric-defined[data-type="advanced"] {

}

.metric-defined[data-type="composite"] {

}

.metric-defined[data-type="composite"] code[data-aggregate] {
  display: none;
}

i[data-id="btn-set-metric"]:hover, i[data-id='btn-set-filter']:hover{
  cursor: pointer;
}

.column-defined > i[data-id="btn-set-metric"], .metric-defined > i[data-id="btn-set-filter"]{
  position: absolute;
  color: #494949;
  left: 100%;
}

.wrapper-sheet .properties{
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 340px;
}

#workbook-objects {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-row-gap: 1px;
  transition: grid-template-rows 250ms;
}

#workbook-objects > section[data-section] {
  overflow: auto;
  box-shadow: 0px 4px 3px -3px grey;
}

#workbook-objects > p {
  margin:0px;
  color: #011F26;
}

#workbook-objects[data-section-active="1"] {
  grid-template-rows: min-content 2fr min-content 4fr min-content 1fr min-content 1fr;
}

#workbook-objects[data-section-active="2"] {
  grid-template-rows: min-content 1fr min-content 4fr min-content 2fr min-content 1fr;
}

#workbook-objects[data-section-active="3"] {
  grid-template-rows: min-content 1fr min-content 1fr min-content 4fr min-content 2fr;
}
#workbook-objects[data-section-active="4"] {
  grid-template-rows: min-content 1fr min-content 1fr min-content 2fr min-content 4fr;
}

#workbook-objects > *[data-worksheet-object] {
  background-color: white;
  color: #494949;
  padding: .5em;
  overflow-y: auto;
}

*[data-worksheet-object] > p{
  font-size: .9rem;
  margin: 0px;
  padding: 0px;
}

#workbook-tables > ul {
  overflow: auto;
}

.properties nav{
  max-height: 400px;
  overflow-y: auto;
}

.wrapper-sheet .properties > section{
  overflow-y: auto;
}

dt dd{
  max-height: 250px;
  overflow: auto;
  margin-inline-start: 20px;
}

details > summary:hover{
  cursor: pointer;
  color: #005148;
  padding-left: 2px;
}

details > summary{
  font-weight: bold;
  line-height: 1.6rem;
  padding-left: 0px;
  transition: padding 150ms;
}

details[open] > summary {
  padding-left: 2px;
  color: #025E73;
}

details > li[data-datatype='float'] {
  background-color: teal;
  color: white;
}

details > li {
  margin: 2px 8px;
  margin-inline-start: 1.2em;
  line-height: 1.6rem;
  border-radius: 2px;
}

#ul-metrics > li, #ul-filters > li {
  line-height: 1.6rem;
  margin: 2px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li[data-selected] {
  font-weight: bold;
}

li[data-selected] > i[data-mode="add"] {
  display: none;
}

li[data-selected] > i[data-mode="remove"] {
  display: block;
}

li:not([data-selected]) > i[data-mode="add"] {
  display: block;
}

li:not([data-selected]) > i[data-mode="remove"] {
  display: none;
}

li:not([draggable]) > i{
  visibility: hidden;
}

li:not([draggable]):hover > i {
  visibility: visible;
}

#ul-metrics > li[data-basic] > .li-content {
  color: #494949;
  display: flex;
  align-items: center;
  width: 100%;
}

#ul-filters > li[data-filter] > .li-content {
  color: peru;
  display: flex;
  align-items: center;
  width: 100%;
}

#ul-metrics > li[data-advanced] > .li-content {
  color: seagreen;
  display: flex;
  align-items: center;
  width: 100%;
}

#ul-metrics > li[data-composite] > .li-content {
  color: sienna;
  display: flex;
  align-items: center;
  width: 100%;
}

details > li[data-type="column"] {
  color: #025E73;
}

#textarea-metric.dropzone.dropping{
  border: solid thin brown;
}

code[contenteditable="true"] {
  outline: none;
  color: whitesmoke;
  font-family: monospace;
  font-size: .85rem;
}

code[data-alias] {
  font-weight: bold;
  font-style: italic;
}

.report-area .report-preview{
  border: solid thin gainsboro;
}

.wrapper-content{
  display: grid;
  grid-template-rows: auto 1fr;
  /* grid-row-gap: 8px; */
  height: 100%;
  width: 100%;
}

menu{
  padding: 8px;
  margin: 0px;
}

menu.standard {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 0;
  gap: 1em;
  box-shadow: 0px 0px 3px 0px grey;
  /* background-color: #BFB78F; */
}

menu.horizontal-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  margin: 0;
  gap: 1em;
}

section.filter-area-drop {
  display: grid;
  grid-template-rows: auto 1fr;
}

#filter-drop.dropzone{
  border: solid thin grey;
}

p.field-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  padding: 8px 4px;
  border: none;
  width: 100%;
  max-width: 400px;
  outline: none;
}

input:read-write {
  border-radius: 2px;
  background-color: white;
  color: #494949;
  box-shadow: 0px 4px 2px -3px #898585;
}

input:read-write:focus {
  border-radius: 2px;
  background-color: white;
  color: #494949;
  box-shadow: 0px 4px 2px -3px steelblue;
}

input:read-write::before {
  content: '';
  width: 6px;
  height: 8px;
  background-color: lightsalmon;
}

input:focus {
  outline: none;
}

input:read-only:hover {
  cursor: auto;
}

input:read-write::placeholder{
  font-style: normal;
  font-weight: normal;
  color: grey;
}

.input-search::placeholder {
  font-style: italic;
  font-weight: bold;
}

.input-search.workbooks::placeholder {
  color: black;
}

.input-search.columns::placeholder {
  color: #025E73;
}

.input-search.metrics::placeholder {
  color: seagreen;
}

.input-search.filters::placeholder {
  color: peru;
}

button.btn-link{
  border: unset;
  background-color: unset;
  font-style: italic;
}

button.btn-link:hover{
  cursor: pointer;
  text-decoration: underline;
}

button.btn-link-context{
  border: unset;
  background-color: unset;
  padding: 4px 6px;
  display: flex;
}

button.btn-link-context:hover{
  cursor: pointer;
  text-decoration: underline;
}

/* TODO: da spostare in layout*/
.default {
  color: steelblue;
}

.attention{
  color: brown;
}

.textareas {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-row-gap: 1em;
}

.textarea-column {
  display: grid;
  /* grid-template-rows: auto 1fr; */
}

textarea {
  padding: 1em;
  margin: 1em 0px;
  border-radius: 2px;
  border: solid thin gainsboro;
  color: #494949;
}

textarea:focus, textarea:active {
  border: solid thin darkgrey;
}
