table{
  display: block;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-spacing: 0;
}

table .col-metrics {
  background-color: #4682b440;
  color: #494949;
  font-weight: bold;
}

table tbody{
  white-space: nowrap;
}

th,
td{
  padding: 4px 12px;
}

thead {
  height: 35px;
}

th {
  position: sticky;
  top: 0;
  vertical-align: middle;
  border: solid thin gainsboro;
  white-space: nowrap;
}

table[data-active="true"] thead th {
  background-color: beige;
}

table[data-active="false"] thead th {
  background-color: gainsboro;
}

table[data-active="true"] thead th:hover{
  cursor: pointer;
  background-color: burlywood;
}

thead th[data-token]{
  background-color: steelblue!important;
  color: whitesmoke!important;
}

thead th[data-metric-token]{
  background-color: peru!important;
  color: whitesmoke!important;
}

.table-preview{
  /* overflow: auto; */
  position: relative;
  border: solid thin #d3d3d3;
}

.table-content{
  position: absolute;
  width: 100%;
  height: 100%;
}

.table-content.columnsHandler {
  display: grid;
  grid-template-columns: 200px auto;
}

.hiddenColumn {opacity: .4;}
