table{
  /* display: block; */
  display: inline-block;
  overflow-x: auto;
  width: 100%;
  /* height: 100%; */
  /* height: 1080px; */
  margin: 0 auto;
  border-spacing: 0;
}

table .col-metrics {
  /* background-color: var(--mark-color); */
  /* background-color: #f3f3f3; */
  /* color: #494949; */
  font-weight: bold;
}

table tbody{
  white-space: nowrap;
}

th,
td{
  padding: 4px 12px;
}

thead {
  height: 35px;
}

th {
  position: sticky;
  top: 0;
  vertical-align: middle;
  border: solid thin white;
  white-space: nowrap;
}

table[data-active="true"] thead th {
  background-color: var(--mark-color);
}

table[data-active="false"] thead th {
  background-color: gainsboro;
}

table[data-active="true"] thead th:hover{
  cursor: pointer;
  background-color: var(--main-important-color);
  color: whitesmoke;
}

thead th[data-token]{
  background-color: var(--main-primary-color)!important;
  color: whitesmoke!important;
}

thead th[data-metric-token]{
  background-color: peru!important;
  color: whitesmoke!important;
}

.table-preview{
  overflow: auto;
  position: relative;
  background-color: white;
  display: grid;
  grid-template-rows: auto 1fr;
}

.sheet-preview{
  /* overflow: auto; */
  position: relative;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 6px 0px;
}

.table-preview>.table-content{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sheet-preview>.table-content{
  position: relative;
  /* width: 100%; */
  /* height: calc(100% - 38px); */
}

.table-content.columnsHandler {
  display: grid;
  grid-template-columns: 200px auto;
}

.hiddenColumn {opacity: .4;}
