.steps {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: white;
  justify-content: flex-start;
  box-shadow: 0 1px 4px 3px lightgrey;
  border-radius: 2px;
}

.steps > .overflow{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-flow: column;
  align-items: center;
  justify-self: center;
}
.steps > .overflow > #stepTranslate{display: flex; height: 100%; width: 100%;transition: transform 200ms;}
.steps .step{align-items: center;display: flex;flex-direction: column;min-width: 100%;}
.steps .step > .pageContent{width: 95%; display: flex;justify-content: flex-start; height: 100%; flex-flow: column; }
.steps h4 {font-size: 1.3rem;font-weight: normal; text-align: left;margin: 0;padding: 4px;}

.steps .buttons{
	width: 90%;
    background: gainsboro;
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    border-radius: 4px;
}
.steps .buttons > .left-buttons{width: 50%; display: flex;justify-content: space-evenly;}
.steps .buttons > .right-buttons{width: 50%; display: flex;justify-content: space-evenly;}

.stepButtons {position: absolute; background-color: indianred; width: 20px; height: 100%; display: flex; align-items: center;}
.stepButtons.left{left : 0px;}
.stepButtons.right{right: 0px;}
