code {
  font-size: .85rem;
}

.report-area{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
  position: relative;
}

.report-area .columns-rows{
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: .5em;
}

.report-area .sheet-elements{
  display: grid;
  grid-template-columns: 60px 1fr;
  user-select: none;
  align-items: center;
  /* grid-column-gap: 4px; */
  /* padding: 4px; */
  height: 34px;
}

.report-area .report-preview{
  border: solid thin gainsboro;
}

.sheet-elements .dropzone{
  border: solid thin #ededed;
  position: relative;
  overflow: auto;
  display: flex;
  column-gap: 8px;
  /* row-gap: .5em; */
  /* flex-wrap: wrap; */
  width: 100%;
  height: 100%;
  transition: height 500ms;
  align-items: center;
  padding: 0px 4px;
}

.relative{
  position: relative;
}

/* #sheet-columns .sheet-elements::before { */
/*   content: 'Colonne'; */
/*   position: absolute; */
/*   top: 8px; */
/*   left: 8px; */
/*   color: darkgray; */
/* } */

/* #sheet-rows .sheet-elements::before { */
/*   content: 'Righe'; */
/*   position: absolute; */
/*   top: 8px; */
/*   left: 8px; */
/*   color: darkgray; */
/* } */

/* #sheet-filters .sheet-elements::before { */
/*   content: 'Filtri'; */
/*   position: absolute; */
/*   top: 8px; */
/*   left: 8px; */
/*   color: darkgray; */
/* } */

.sheet-elements .dropzone.dropping{
  border: solid thin darkgreen;
}

.defined {
  white-space: nowrap;
  user-select: none;
}

.column-defined,
.metric-defined,
.filter-defined {
  display: flex;
  align-items: center;
  position: relative;
  gap: 4px;
  padding: 2px 6px;
  border-radius: 2px;
  width: auto;
}

.column-defined > button[data-remove],
.metric-defined > button[data-remove],
.filter-defined > button[data-remove] {
  visibility: hidden;
}

.column-defined:hover > button[data-remove],
.metric-defined:hover > button[data-remove],
.filter-defined:hover > button[data-remove] {
  visibility: visible;
}

.column-defined[data-type="column"]{
  background-color: var(--main-secondary-color);
  color: whitesmoke;
}

.filter-defined[data-type="filter"]{
  background-color: var(--filters-color);
  color: #494949;
  padding: 2px 4px;
  font-size: .85rem;
}

.column-defined[data-type="column"] > i[data-column-remove]{
  visibility: hidden;
}

.column-defined[data-type="column"]:hover > i[data-column-remove]{
  visibility: visible;
}

.column-defined[data-type="column"] > i{
  color: whitesmoke;
}

.column-defined[data-type="metric"]{
  background-color: seagreen;
}

.column-defined[data-adding],
.metric-defined[data-adding],
.filter-defined[data-adding] {
  opacity: .6;
}

.column-defined[data-removed],
.metric-defined[data-removed],
.filter-defined[data-removed] {
  background-color: lightgrey;
  color: #494949;
}

.column-defined[data-removed] > code,
.metric-defined[data-removed] > span,
.filter-defined[data-removed] > span {
  text-decoration: line-through;
}

.column-defined > button[data-remove],
.metric-defined > button[data-remove],
.filter-defined > button[data-remove]{
  display: block;
}

.column-defined > button[data-undo],
.metric-defined > button[data-undo],
.filter-defined > button[data-undo] {
  display: none;
}

.column-defined[data-removed] > button[data-undo],
.metric-defined[data-removed] > button[data-undo],
.filter-defined[data-removed] > button[data-undo] {
  display: block;
}

.column-defined[data-removed] > button[data-remove],
.metric-defined[data-removed] > button[data-remove],
.filter-defined[data-removed] > button[data-remove] {
  display: none;
}

/* .metric-defined[data-type="basic"]:not([data-removed]) { */
/*   background-color: #276427b0; */
/*   color: whitesmoke; */
/* } */

.metric-defined.basic:not([data-removed]) {
  background-color: var(--metrics-basic);
  color: whitesmoke;
}

/* .metric-defined[data-type="advanced"]:not([data-removed]) {
  background-color: seagreen;
  color: whitesmoke;
  padding: 2px 4px;
  font-size: .85rem;
} */

.metric-defined.advanced:not([data-removed]) {
  background-color: var(--metrics-advanced);
  color: whitesmoke;
  padding: 2px 4px;
  font-size: .85rem;
}

/* .metric-defined[data-type="composite"] {
  background-color: rosybrown;
  color: #494949;
  padding: 2px 4px;
  font-size: .85rem;
} */

.metric-defined.composite:not([data-removed]) {
  background-color: var(--metrics-composite);
  color: whitesmoke;
  padding: 2px 4px;
  font-size: .85rem;
}

.metric-defined[data-type="composite"] code[data-aggregate] {
  display: none;
}

.column-defined > i[data-id="btn-set-metric"], .metric-defined > i[data-id="btn-set-filter"]{
  position: absolute;
  color: #494949;
  left: 100%;
}

.wrapper-sheet .properties{
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 340px;
}

#workbook-objects {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-row-gap: 1px;
  transition: grid-template-rows 250ms;
}

#workbook-objects > section[data-section] {
  overflow: auto;
  border: solid thin #ededed;
  border-radius: 2px;
}

#workbook-objects > p {
  margin:0px;
  color: #011F26;
}

#workbook-objects[data-section-active="1"] {
  grid-template-rows: min-content 4fr min-content 2fr min-content 2fr;
}

#workbook-objects[data-section-active="2"] {
  grid-template-rows: min-content 2fr min-content 4fr min-content 2fr;
}

#workbook-objects[data-section-active="3"] {
  grid-template-rows: min-content 2fr min-content 2fr min-content 4fr;
}
/* #workbook-objects[data-section-active="4"] {
  grid-template-rows: min-content 1fr min-content 1fr min-content 2fr min-content 4fr;
} */

#workbook-objects > *[data-worksheet-object] {
  background-color: white;
  color: #494949;
  padding: .5em;
  overflow-y: auto;
}

*[data-worksheet-object] > p{
  font-size: .9rem;
  margin: 0px;
  padding: 0px;
}

#workbook-tables > ul {
  overflow: auto;
}

.properties nav{
  max-height: 400px;
  overflow-y: auto;
}

.wrapper-sheet .properties > section{
  overflow-y: auto;
}

code[contenteditable="true"] {
  outline: none;
  transition: all 150ms;
  padding: 2px;
  /* color: whitesmoke; */
  /* font-family: monospace; */
}

code[contenteditable="true"]:hover, code[contenteditable="true"]:focus {
  outline: none;
  padding: 4px;
  border-radius: 2px;
  color: #494949;
  /* font-family: monospace; */
  background-color: whitesmoke;
  font-size: .85rem;
}

code[data-alias] {
  font-weight: bold;
  font-style: italic;
}

#side-sheet-filters{
  position: absolute;
  height: 100%;
  background-color: whitesmoke;
  transform: translateX(-100%);
  transition: transform 250ms;
  z-index: 0;
}

#side-sheet-filters[open]{
  z-index: 999;
  transform: translateX(0px);
  min-width: 360px;
  border: solid thin gainsboro;
}

.input-area {
  /* display: flex;
  flex-direction: column;
  gap: 1em; */
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-gap: 1em;
}

#adv-metric-defined {
  display: flex;
}

#adv-metric-defined .formula {
  width: auto;
  display: flex;
  border-radius: 2px;
  align-items: center;
  padding: 4px 8px;
  background-color: seagreen;
  color: white;
}

#textarea-filter::before {
  content: "Selezionare le colonne qui a sinistra per creare la formula";
  position: absolute;
  top: 8px;
  left: 8px;
  color: darkgray;
}

#textarea-composite-metric::before {
  content: "Trascinare le metriche in questa sezione per creare la formula";
  position: absolute;
  top: 8px;
  left: 8px;
  color: darkgray;
}

.grid > .content {
  overflow: auto;
  padding: 0em 1em;
}

/* .col.m2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
} */

.sql-info {
  padding: 1em;
  background-color: white;
  border-radius: 2px;
  overflow: auto;
  height: 100%;
}

button[data-sql][data-active] {
  font-weight: bold;
}

span[data-key] {
  padding: 2px 4px;
  border-radius: 2px;
  margin: 0px 4px;
}

span[data-key][data-clause="SELECT"], [data-clause="GROUP BY"] {
  background-color: aquamarine;
}

span[data-key][data-clause="METRICS"] {
  background-color: rosybrown;
  color: white;
}

span[data-key][data-clause="FROM"] {
  background-color: gainsboro;
  color: #494949;
}

span[data-key][data-clause="WHERE"], [data-clause="WHERE-TIME"], [data-clause="AND"] {
  background-color: skyblue;
  color: #494949;
}

/* details.sql-details{
  line-height: 2em;
} */

details .sql-row{
  margin: 6px 2px;
}

.sql-info .sql-raw {
  border: solid thin gainsboro;
  padding: 8px;
  margin: 1em 0em;
  position: relative;
}

.sql-raw > .absolute-icons {
  position: absolute;
  display: flex;
  top: 1em;
  right: 1em;
  height: 32px;
}

.sql-raw > .absolute-icons[data-copied]::before {
  /* position: absolute; */
  display: flex;
  content: 'Copiato!';
  background-color: #494949;
  color: white;
  padding: 8px;
  box-shadow: 0px 0px 5px 1px gray;
  /* top: 10px; */
  /* right: 10px; */
}

mark.keyword {
  background-color: transparent;
  padding: unset;
  display: unset;
  font-weight: bold;
  border-radius: unset;
  color: darkcyan;
}
