/*page*/
.page{display: grid;grid-template-columns: auto;padding: 16px;}
/*page*/

/*layout*/
.layout{display: grid;grid-template-areas: "header" "params" "body";width: 100%;}
.layout section[title] {grid-area: header;}
h3 ~ h5{padding: 0;font-size: .9rem;margin: 8px;font-weight: 300;color: var(--main-color-outisde-card);}
.layout section[params] {grid-area: params;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: white;padding: 1.5em;border-radius: 4px;}
  /* pagina intera solo report */
.layout[data-layout-id="0"] section[body] {grid-area: body;}
/*data-layout-id="1" con report e chart sul lato destro*/
.layout[data-layout-id="1"] section[body] {grid-area: body;display: grid; grid-template-columns: 70% 30%;grid-template-rows: auto;}
.layout section[params] > div.params{display: grid;grid-gap: 8px;}
.layout section[params] > div.params.row{grid-auto-flow: row;}
.layout section[params] > div.params.column{grid-template-columns: repeat(3, auto);}
/*layout*/

/* list */
ul{padding-inline-start: 0;font-size: .75rem;border-radius: 4px;}
ul > li{list-style: none;padding: 6px;margin: 2px 8px;}
/*ul > li:hover{list-style: none;padding: 6px;background-color: #d4d6c8;border-radius: 4px;cursor: pointer;}*/
/*ul > li[selected]{list-style: none;padding: 6px;background-color: var(--main-primary-color);border-radius: 4px;color: white;cursor: pointer;}*/

/* list */


/* layout-settings */
.layout-settings{display: grid;grid-template-areas: "params" "body";}
.layout-settings section[params] {grid-area: params; display: grid; grid-template-columns: 90% auto;}
.layout-settings section[params] .params.column{box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: white;padding: 1.5em;border-radius: 4px;display: flex;flex-flow: row;}
.layout-settings section[body] {grid-area: body; display: grid; grid-template-columns: 90% auto;}
.settings{display: flex; flex-flow: column;align-items: center; justify-content: center;}
/* layout-settings */
