@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;500;600&display=swap');

:root {
	--main-bg-color: #eee;
	--main-fg-color: #494949;
	--text-default: #494949;
	--main-primary-color: #2a3e59;
	--main-secondary-color: #54728c;
	--main-third-color: #e9e9e5;
	--main-color-outisde-card: #424242;
	--main-color-button-flat: #8c5f11;
	--main-color-header-table: #d2d2d2;
	--main-important-color: #d9665b;
	--main-error-color: #d9665b;
	--main-warning-color: #c5791b;
	--mark-color: #f2d98d;
	--filters-color: #f2d98d;
	--metrics: #A6786D;
	--basic-metric-fg: #8e8e8e;
	--metrics-composite: #d9665b;
	--icon-disabled-fg: gainsboro;
	--button-disabled-bg: gainsboro;
	--button-disabled-fg: #494949;
}

* {
	box-sizing: border-box;
	font-family: 'Barlow';
	font-size: 1rem;
}

*::-webkit-scrollbar {
	display: none;
}

[draggable] {
	user-select: none;
}

/* *::-webkit-scrollbar-thumb {
  display: block;
  background-color: #5f6162c7;
  border-radius: 2px;
} */

/* *::-webkit-scrollbar-track {
  display: block;
  background-color: gainsboro;
} */

*:hover::-webkit-scrollbar {
	display: block;
	width: 6px;
	height: 6px;
}

*:hover::-webkit-scrollbar-thumb {
	display: block;
	background-color: #5f6162c7;
	border-radius: 2px;
}

*:hover::-webkit-scrollbar-track {
	display: block;
	background-color: gainsboro;
}

/* .custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  display: block;
  width: 4px;
  height: 5px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  display: block;
  background-color: #5f6162c7;
  border-radius: 2px;
}

.custom-scrollbar:hover::-webkit-scrollbar-track {
  display: block;
  background-color: gainsboro;
} */


h4 {
	font-size: 1.2rem;
}

@media screen and (min-width: 1921px) {}

body {
	display: grid;
	height: 100vh;
	grid-template: 64px 1fr / auto 1fr auto;
	margin: 0px;
	grid-gap: 1em;
	transition: grid-template 250ms;
}

header {
	background-color: var(--main-primary-color);
	padding: 2rem;
	grid-column: 1 / 4;
	padding: 0 36px 0 16px;
	z-index: 1001;
	-webkit-font-smoothing: antialiased;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left-sidebar {
	background: #494949;
	grid-column: 1 / 2;
	border-radius: 0px 4px 4px 0px;
	padding: 8px;
}

.nav-button {
	display: flex;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
}

.nav-button #menu {
	display: flex;
	text-decoration: none;
	color: #3C4043;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-size: 1.4rem;
	font-weight: 400;
	margin: 0 8px;
	flex-grow: 1;
	flex-shrink: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 0;
}

main {
	display: flex;
	position: relative;
	background: coral;
	grid-column: 2 / 3;
}

.right-sidebar {
	background: var(--main-bg-color);
	grid-column: 3 / 4;
	width: 32px;
	transition: width 150ms;
	position: relative;
}

.right-sidebar:not([open])>.informations {
	display: none;
}

.right-sidebar>button {
	position: absolute;
	left: -16px;
	/* left: 0px; */
	color: white;
	background-color: var(--main-primary-color);
	border-radius: 2px;
	z-index: 2;
}

.right-sidebar[open] {
	width: 2200px;
}

@media screen and (min-width: 1280px) {

	.right-sidebar[open] {
		width: 270px;
	}
}

@media screen and (min-width: 1920px) {

	right-sidebar[open] {
		width: 350px;
	}
}

.right-sidebar[open]>.informations {
	display: block;
}

.right-sidebar[open] #info.none::after {
	content: 'Nessuna informazione disponibile';
	display: flex;
	justify-content: center;
}

/* footer {
	background: var(--main-third-color);
	text-align: center;
	grid-column: 1 / 4;
}

footer>.footerContent {
	padding: .5em;
	display: flex;
	align-items: center;
	column-gap: 1em;
} */

#content {
	display: grid;
	/* display: block; */
	width: 100%;
	position: absolute;
	/* padding: 1em; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	background: var(--main-bg-color);
	transition: all 500ms;
	/* box-shadow: 0px 1px 3px 2px gainsboro; */
}

#body {
	padding: 1em;
	/* border-radius: 4px; */
	background-color: white;
	display: grid;
}

#body.raw {
	background-color: var(--main-bg-color);
}

#content>#body.menu {
	grid-template-rows: auto 1fr;
	grid-row-gap: 1em;
}

.wrapper {
	display: grid;
	/* grid-gap: 2em; */
}

.wrapper.flex {
	display: flex;
	flex-direction: column;
}

.wrapper.menu {
	grid-template-rows: auto 1fr;
}

.wrapper>.row.autofit {
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/* .box {
  height: 300px;
  background-color: firebrick;
} */

.autofit .box1 {
	grid-column: 1;
}

.autofit .box2 {
	grid-column: span 2;
}

menu.standard {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	/* align-items: center; */
	padding: 8px;
	margin: 0;
	column-gap: 1em;
	/* border-radius: 4px; */
	/* justify-content: space-between; */
	background-color: white;
	box-shadow: 0px 1px 6px 1px #cac6c6;
}

menu.standard.onlyStatus {
	grid-template-columns: auto;
}

menu.standard>section:first-child {
	justify-content: flex-start;
}

/* l'ultimo elemento del menù và sempre allineato flex-end, anche
* quando è presente un solo elemento (nel caso di dbstatus)
* */
menu.standard>section:last-child {
	justify-content: flex-end;
}

menu.standard.align-end {
	justify-content: flex-end;
}

menu.standard>section {
	display: flex;
	column-gap: 4px;
}

#body[data-step="1"] menu>section[data-sheet-menu] {
	display: none;
}

#body[data-step="2"] menu>section[data-workbook-menu] {
	display: none;
}

menu.standard>.dbStatus>span[data-database-id] {
	display: flex;
	align-items: center;
	padding: 0px 8px;
	border-radius: 4px;
	column-gap: .5em;
	background-color: green;
	color: white;
}

menu.standard>.dbStatus>span[data-database-id="0"] {
	background-color: var(--main-important-color);
	color: white;
}

.card {
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 4px;
	padding: 1em;
	box-shadow: 0px 1px 6px 1px #cac6c6;
}

.visual {
	height: 100%;
	/* padding: .5em;
	margin: 0.5rem 0; */
}

.card.grid {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-row-gap: 1em;
	/* card con contenuti header, body, footer */
}

.card.grid>.visual {
	display: grid;
	grid-template-rows: 1fr;
}

h1 {
	font-size: 1.5rem;
}

/* grid */
.row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 2em;
	position: relative;
}

.row.align-end {
	align-items: end;
}

.row>.col {
	grid-column: 1 / 13;
	display: grid;
	/* padding: 8px; */
	padding: 1em;
}

.row>.col.menu {
	grid-template-rows: auto 1fr;
}

.col.col-1 {
	grid-column: 1;
}

.col.col-2-span {
	grid-column: span 2;
}

.col.col-3 {
	grid-column: span 3;
}

.col.col-4-span {
	grid-column: span 4;
}

.col.col-5-span {
	grid-column: span 5;
}

.col.col-6:nth-child(1) {
	grid-column: 1 / 7;
}

.col.col-6-span {
	grid-column: span 6;
}

.col.col-7-span {
	grid-column: span 7;
}

.col.col-8-span {
	grid-column: span 8;
}

.col.col-9-span {
	grid-column: span 9;
}

.col.col-10-span {
	grid-column: span 10;
}

.col.col-11-span {
	grid-column: span 11;
}

.col.col-12-span {
	grid-column: span 12;
}

/* test */
/* .row>.col.col-6:nth-child(1) {
  grid-column: 1 / 7;
}

.row>.col.col-6:nth-child(2) {
  grid-column: 7 / 13;
} */
/* test */


/* grid */

.card>.buttons {
	display: flex;
}

.card>.buttons.align-center {
	justify-content: center;
}

#console {
	position: fixed;
	/* bottom: -64px; */
	top: -64px;
	/* left: 0; */
	/* right: 0; */
	right: 16px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	transition: top 250ms;
	padding: 0 16px;
	flex-direction: column;
	z-index: 1000;
	background: #1d1d1d;
	color: whitesmoke;
	font-size: .85rem;
	height: 64px;
	box-shadow: 0px 2px 4px 1px gray;
}

#console[open] {
	/* bottom: 0; */
	top: calc(64px + 16px);
}

#console i[data-icon="info"] {
	color: #d0c5ab;
}

#console i[data-icon="error"] {
	color: brown;
}

#console i[data-icon="warning"] {
	color: chocolate;
}

#console i[data-icon="done"] {
	color: green;
}

#fabsConsole {
	display: flex;
	flex-grow: 1;
	max-width: 1025px;
	width: 100%;
	margin: 0 auto;
	align-items: center;
}

mark {
	background-color: var(--mark-color);
	color: var(--main-fg-color);
	border-radius: 2px;
	padding: 2px 12px;
	display: inline-flex;
	width: 100%;
	justify-content: center;
}

span.markContent {
	position: relative;
	color: dimgrey;
	margin: 0px 2px 4px 2px;
	display: inline-grid;
	justify-items: center;
}

/*mark.markContent::before {content: attr(data-attr); position: absolute; top: 100%; color: dimgray;}*/
.markContent>i {
	position: absolute;
	left: -7px;
	top: -7px;
	color: black;
	visibility: hidden;
}

.markContent:hover>i {
	position: absolute;
	left: -10px;
	top: -10px;
	color: black;
	visibility: visible;
}

.markContent>i:hover {
	cursor: pointer;
}

.name {
	padding: 4px 8px;
	font-weight: bold;
	color: white;
	border-radius: 4px;
}

.name[data-value] {
	font-size: 1.2rem;
	background-color: #494949;
	transition: font-size 150ms, padding 150ms;
	box-shadow: 0px 1px 5px 0px gray;
}

.name:not([data-value]) {
	border-radius: 2px;
	background-color: var(--main-important-color);
	opacity: .8;
	font-size: inherit;
	box-shadow: unset;
	display: flex;
	align-items: center;
}

.name[contenteditable="true"]:focus,
.name[contenteditable="true"]:hover {
	opacity: 1;
}

/* .col con border */
.col.border {
	border: solid thin #e2e2e2;
}

.informations {
	color: #494949;
	padding: 1em;
}

.info {
	position: relative;
	padding: 1em 0;
}

.info>span {
	font-weight: lighter;
}

.info>button {
	position: absolute;
	right: 4px;
}

[popover] {
	background-color: #494949;
	border: none;
	border-radius: 4px;
	padding: 8px 4px;
}

:popover-open {
	box-shadow: 0px 0px 4px 1px gray;
	margin: 0;
}

:popover-open.center {
	box-shadow: 0px 0px 4px 1px gray;
	margin: auto;
}

[popover]>nav {
	margin: 8px 4px;
}

[popover] button {
	color: white;
}

[popover] button:disabled {
	color: grey;
	background-color: unset;
}

[popover].popover__modal {
	margin: auto;
}

:popover-open.popover__modal {
	box-shadow: 0px 0px 4px 1px gray;
}

code.code,
.textarea.code {
	font-family: 'Source Code Pro', monospace !important;
}

.info__usage:not([hidden]) {
	display: flex;
	justify-content: center;
	align-items: center;
}

p.message {
	margin: 0px .5rem;
	padding: .5rem;
	border-radius: 4px;
}

p.message.error {
	background-color: var(--main-important-color);
	color: white;
}

p.message.warn {
	background-color: var(--main-warning-color);
	color: white;
}
